@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  padding: 0;
  border: none;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/*--------------------*/
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000;
}

._container {
  max-width: 1410px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

.header-top {
  width: 100%;
  height: 70px;
  font-size: 0.8888888889rem;
  color: #FFFFFF;
  background-color: #141414;
}
.header-top a:hover {
  text-decoration: underline;
}
.header-top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 60px;
       column-gap: 60px;
  column-gap: 60px;
  row-gap: 8px;
}
@media (max-width: 1440px) {
  .header-top__menu {
    -moz-column-gap: calc(20px + 40 * ((100vw - 320px) / 1120));
         column-gap: calc(20px + 40 * ((100vw - 320px) / 1120));
  }
}
.header-top__account {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header-body {
  width: 100%;
  height: 90px;
  background-color: #ECF1F2;
}
.header-body__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-body__logo {
  margin-right: 158px;
}
@media (max-width: 1440px) {
  .header-body__logo {
    margin-right: calc(1px + 157 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1300px) {
  .header-body__logo {
    margin-right: 50px;
  }
}
@media (max-width: 1300px) and (max-width: 1440px) {
  .header-body__logo {
    margin-right: calc(5px + 45 * ((100vw - 320px) / 1120));
  }
}
.header-body__search-container {
  flex: 1 1 auto;
}
.header-body__search-form {
  max-width: 377px;
  display: flex;
  position: relative;
}
.header-body__search-button {
  width: 41px;
  height: 41px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-body__search-input {
  width: 100%;
  font-size: 0.7777777778rem;
  padding-left: 41px;
  height: 41px;
  background-color: #E4EAEB;
  border-radius: 3px;
  border: 1px solid rgba(4, 4, 4, 0.1);
  margin-right: 10px;
}
.header-body__search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.header-body__search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.header-body__search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.header-body__search-input:focus {
  outline: auto;
}
.header-body__action {
  margin-left: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1440px) {
  .header-body__action {
    -moz-column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
         column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
  }
}
.header-body__location {
  display: flex;
  align-items: center;
}
.header-body__location-icon {
  margin-right: 10px;
}
.header-body__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-right: 20px;
}
.header-body__tel {
  flex: 0 0 auto;
}
.header-body__arrow {
  width: 16px;
  height: 10px;
  position: absolute;
  top: 3px;
  right: -22px;
  transition: transform 0.1s ease-in-out;
}
.header-body__arrow._popup-active {
  transform: rotate(-180deg);
}
.header-body__popup {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: -22px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translate(0, -50%) scale(1, 0);
  transition: transform 0.1s ease-in-out;
}
.header-body__popup._popup-active {
  transform: translate(0, 0) scale(1, 1);
}
.header-body__callback {
  color: #E8AA31;
}
.header-body__cart {
  font-size: 0.8888888889rem;
}

.cart-header {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.cart-header__icon {
  width: 31px;
  height: 31px;
  position: relative;
}
.cart-header__icon span {
  font-size: 10px;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #E8AA31;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -6px;
}
.cart-header__body {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.cart-header__link {
  color: #E8AA31;
}

.header-catalog {
  height: 70px;
  background-color: #141414;
}
.catalog {
  height: 100%;
  line-height: 1.2222222222;
  color: #fff;
}
.catalog__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__item {
  text-align: center;
}
.catalog__link {
  display: inline-block;
  padding: 24px 0;
  position: relative;
  width: 100%;
}
.catalog__link:hover {
  color: #E8AA31;
}
.catalog__link:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E8AA31;
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 10;
}

.menu-catalog {
  font-size: 0.8888888889rem;
  color: #fff;
  background-color: #141414;
}
.menu-catalog a:hover {
  text-decoration: underline;
}
.menu-catalog__container {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: relative;
}
@media (max-width: 1440px) {
  .menu-catalog__container {
    -moz-column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
         column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
  }
}
.menu-catalog__container:after {
  content: "";
  height: 1px;
  background-color: #5A5A5A;
  position: absolute;
  top: 90px;
  width: calc(100% - 20px);
}
.menu-catalog__container:before {
  content: "";
  height: 1px;
  background-color: #5A5A5A;
  position: absolute;
  bottom: 74px;
  width: calc(100% - 20px);
}
.menu-catalog__column {
  display: flex;
  flex-direction: column;
}
.menu-catalog__title-wrapper {
  margin: 30px 0;
  position: relative;
}
.menu-catalog__header-line:before {
  content: "";
  height: 1px;
  background-color: #5A5A5A;
  position: absolute;
  top: 46px;
  left: -10px;
  margin: 0 10px;
}
.menu-catalog__title {
  padding: 10px 0;
  font-weight: 700;
}
.menu-catalog__items {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.menu-catalog__item {
  align-self: flex-start;
  padding: 10px 0;
}
.menu-catalog__footer {
  color: #E8AA31;
  margin: 30px 0 20px 0;
  position: relative;
}
.menu-catalog__footer-text {
  padding: 10px 0;
}/*# sourceMappingURL=style.css.map */