@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  padding: 0;
  border: none;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/*--------------------*/
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000;
}

.svg-tel {
  display: none;
  width: 22px;
  height: 28px;
  fill: #fff;
  order: 1;
}
@media (max-width: 992px) {
  .svg-tel {
    display: block;
  }
}
.svg-user {
  display: block;
  width: 22px;
  height: 28px;
  fill: #fff;
  order: 2;
}
.svg-favourites {
  display: block;
  width: 28px;
  height: 27px;
  fill: #000;
  order: 3;
}
@media (max-width: 992px) {
  .svg-favourites {
    fill: #fff;
  }
}
.svg-cart {
  display: inline-block;
  width: 31px;
  height: 31px;
  fill: #000;
  order: 4;
}
@media (max-width: 992px) {
  .svg-cart {
    fill: #fff;
  }
}

._container {
  max-width: 1320px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

.button {
  height: 50px;
  font-weight: 600;
  color: #fff;
  background-color: #E8AA31;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  transition: box-shadow 0.3s ease-in-out;
}
.button:hover {
  box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.7);
}

.header-top {
  width: 100%;
  height: 70px;
  font-size: 0.8888888889rem;
  color: #FFFFFF;
  background-color: #141414;
  position: relative;
}
.header-top a:hover {
  text-decoration: underline;
}
.header-top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .header-top__nav {
    transform: translate(0, -200%);
    transition: transform 0.5s ease 0s;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #141414;
    width: 100%;
    height: 100vh;
    font-size: 50px;
    line-height: 1.6666666667;
  }
}
@media (max-width: 992px) and (max-width: 1440px) {
  .header-top__nav {
    font-size: calc(16px + 34 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 992px) {
  .header-top__nav._open-nav {
    transform: translate(0, 0);
  }
}
.header-top__menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 8px;
}
@media (max-width: 1440px) {
  .header-top__menu {
    -moz-column-gap: calc(20px + 40 * ((100vw - 320px) / 1120));
         column-gap: calc(20px + 40 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 992px) {
  .header-top__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-top__menu:first-child {
    margin-top: 30px;
  }
}
.header-top__account {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 992px) {
  .header-top__account {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 992px) {
  .header-top__user-profile {
    display: none;
  }
}

.burger {
  display: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  position: relative;
  order: 5;
  z-index: 10;
}
@media (max-width: 992px) {
  .burger {
    display: inline-block;
    position: relative;
  }
}
.burger span, .burger span:before, .burger span:after {
  width: 100%;
  position: absolute;
  height: 3px;
  background: rgb(248, 248, 248);
  display: block;
  transition: 0.3s;
  border-radius: 5px;
}
.burger span:before {
  content: "";
  top: 10px;
  transition: top 200ms 200ms, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span {
  top: 13px;
}
.burger span:after {
  content: "";
  bottom: 10px;
  transition: bottom 200ms 200ms, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span.active:before {
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 200ms, transform 200ms 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active:after {
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 200ms, transform 200ms 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active {
  background-color: rgba(255, 255, 255, 0);
}

.header-body {
  width: 100%;
  height: 90px;
  background-color: #ECF1F2;
}
.header-body__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-body__logo {
  margin-right: 158px;
}
@media (max-width: 1440px) {
  .header-body__logo {
    margin-right: calc(1px + 157 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1300px) {
  .header-body__logo {
    margin-right: 70px;
  }
}
@media (max-width: 1300px) and (max-width: 1440px) {
  .header-body__logo {
    margin-right: calc(15px + 55 * ((100vw - 320px) / 1120));
  }
}
.header-body__search-container {
  flex: 1 1 auto;
}
.header-body__search-form {
  max-width: 377px;
  display: flex;
  position: relative;
}
.header-body__search-button {
  width: 41px;
  height: 41px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .header-body__search-button {
    width: 31px;
  }
}
.header-body__search-input {
  width: 100%;
  font-size: 0.7777777778rem;
  padding-left: 41px;
  height: 41px;
  background-color: #E4EAEB;
  border-radius: 3px;
  border: 1px solid rgba(4, 4, 4, 0.1);
  margin-right: 10px;
}
@media (max-width: 576px) {
  .header-body__search-input {
    padding-left: 31px;
  }
}
.header-body__search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.header-body__search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.header-body__search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.header-body__search-input:focus {
  outline: auto;
}
.header-body__action {
  margin-left: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 576px) {
  .header-body__action {
    display: none;
  }
}
@media (max-width: 1440px) {
  .header-body__action {
    -moz-column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
         column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
  }
}
.header-body__location {
  order: 1;
  display: flex;
  align-items: center;
}
.header-body__location-icon {
  margin-right: 10px;
}
.header-body__contacts {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-right: 20px;
}
@media (max-width: 992px) {
  .header-body__contacts {
    display: none;
  }
}
.header-body__tel {
  flex: 0 0 auto;
}
.header-body__arrow {
  width: 16px;
  height: 10px;
  position: absolute;
  top: 3px;
  right: -22px;
  transition: transform 0.1s ease-in-out;
}
.header-body__arrow._popup-active {
  transform: rotate(-180deg);
}
.header-body__popup {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: -22px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translate(0, -50%) scale(1, 0);
  transition: transform 0.1s ease-in-out;
}
.header-body__popup._popup-active {
  transform: translate(0, 0) scale(1, 1);
}
.header-body__callback {
  color: #E8AA31;
}
.header-body__favourites {
  order: 3;
}
.header-body__cart {
  order: 4;
  font-size: 0.8888888889rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-header {
  display: flex;
}
.cart-header__icon {
  order: 1;
  padding-top: 5px;
  display: inline-block;
  position: relative;
}
.cart-header__icon span {
  font-size: 10px;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #E8AA31;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  right: -6px;
}
.cart-header__body {
  order: 2;
  display: inline-block;
  margin-left: 15px;
}
@media (max-width: 992px) {
  .cart-header__summ {
    display: none;
  }
}
.cart-header__link {
  color: #E8AA31;
}
@media (max-width: 992px) {
  .cart-header__link {
    display: none;
  }
}

.catalog-mobile {
  display: none;
}
@media (max-width: 992px) {
  .catalog-mobile {
    display: inline-block;
  }
}

.catalog-wrapper {
  position: relative;
}
.header-catalog {
  height: 70px;
  background-color: #141414;
}
.catalog {
  height: 100%;
  line-height: 1.2222222222;
  color: #fff;
}
.catalog__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .catalog__list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #141414;
    z-index: 6;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 0 0 15px;
  }
}
.catalog__item {
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}
.catalog__link {
  display: block;
  padding: 5px 10px;
  width: 100%;
}
.catalog__link:hover {
  color: #E8AA31;
}
.catalog__link:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E8AA31;
  position: absolute;
  bottom: 0;
  left: 0;
}
.catalog__link._active-link {
  color: #E8AA31;
}
.catalog__link._active-link::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E8AA31;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu-catalog {
  font-size: 0.8888888889rem;
  width: 100%;
  color: #fff;
  background-color: #141414;
  display: none;
  transform: translate(0, -150%);
}
.menu-catalog._open-menu {
  display: block;
  transform: translate(0, 0);
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 2;
}
.menu-catalog a:hover {
  text-decoration: underline;
}
.menu-catalog__container {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: relative;
}
@media (max-width: 1440px) {
  .menu-catalog__container {
    -moz-column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
         column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
  }
}
.menu-catalog__container:after {
  content: "";
  height: 1px;
  background-color: #5A5A5A;
  position: absolute;
  top: 90px;
  width: calc(100% - 20px);
}
.menu-catalog__container:before {
  content: "";
  height: 1px;
  background-color: #5A5A5A;
  position: absolute;
  bottom: 74px;
  width: calc(100% - 20px);
}
.menu-catalog__column {
  display: flex;
  flex-direction: column;
}
.menu-catalog__title-wrapper {
  margin: 30px 0;
  position: relative;
}
.menu-catalog__header-line:before {
  content: "";
  height: 1px;
  background-color: #5A5A5A;
  position: absolute;
  top: 46px;
  left: -10px;
  margin: 0 10px;
}
.menu-catalog__title {
  padding: 10px 0;
  font-weight: 700;
}
.menu-catalog__items {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.menu-catalog__item {
  align-self: flex-start;
  padding: 10px 0;
}
.menu-catalog__footer {
  color: #E8AA31;
  margin: 30px 0 20px 0;
  position: relative;
}
.menu-catalog__footer-text {
  padding: 10px 0;
}

.main-block {
  color: #fff;
  width: 100%;
  min-height: 0;
  background: url("../img/main-block/bg-main-block.jpg") center/cover no-repeat;
}
@media (max-width: 576px) {
  .main-block {
    background: url("../img/main-block/bg-main-block_mobile.jpg") center/cover no-repeat;
  }
}
.slider {
  width: 100%;
}
.slider__body {
  transform: translate(15px, 0) !important;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider__title, .slider__subtitle {
  font-size: 2rem;
  line-height: 128%;
  letter-spacing: 3%;
}
.slider__title {
  font-weight: 700;
  padding-top: 28px;
}
@media (max-width: 576px) {
  .slider__title {
    font-size: 26px;
  }
}
.slider__subtitle {
  padding-top: 10px;
}
@media (max-width: 576px) {
  .slider__subtitle {
    font-size: 23px;
  }
}
.slider__text {
  padding-top: 30px;
  font-weight: 500;
  font-size: 1.1111111111rem;
  line-height: 1.5;
}
@media (max-width: 576px) {
  .slider__text {
    font-size: 16px;
  }
}
.slider__button {
  margin-top: 60px;
  font-size: 20px;
  padding: 0 52px;
}
@media (max-width: 992px) {
  .slider__button {
    display: none;
  }
}
.slider__media {
  margin-top: 30px;
  margin-right: 70px;
  position: relative;
}
@media (max-width: 1440px) {
  .slider__media {
    margin-right: calc(0px + 70 * ((100vw - 320px) / 1120));
  }
}
.slider__info {
  flex: 0 0 50%;
}
.slider__image {
  flex: 0 0 50%;
  position: relative;
}
.slider__image img {
  width: 100%;
}
.slider__tip {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #836515;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s box-shadow ease-in-out;
}
@media (max-width: 576px) {
  .slider__tip {
    display: none;
  }
}
.slider__tip:hover {
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
}
.slider__tip span {
  width: 19px;
  height: 19px;
  background-color: #E8AA31;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__tip-1 {
  top: 79.7595190381%;
  left: 21.875%;
}
.slider__tip-2 {
  top: 1.6032064128%;
  left: 40.8482142857%;
}
.slider__tip-3 {
  top: 81.3627254509%;
  left: 71.4285714286%;
}
.slider__tip-4 {
  top: 83.3667334669%;
  left: 17.8571428571%;
}

.advantages {
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  margin: 58px 0;
}
@media (max-width: 1440px) {
  .advantages {
    font-size: calc(9.6px + 10.4 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 576px) {
  .advantages {
    font-size: 1.1111111111rem;
    margin-top: 46px;
    margin-bottom: 30px;
  }
}
.advantages__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 576px) {
  .advantages__body {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .advantages__body {
    flex-wrap: wrap;
  }
}
.advantages__item {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .advantages__item {
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .advantages__item {
    flex: 1 1 49%;
  }
}
.advantages__image {
  text-align: center;
}
.advantages__text {
  text-align: center;
  justify-items: start;
}

.catalog-cards {
  padding: 100px 0;
}
@media (max-width: 576px) {
  .catalog-cards {
    padding: 0;
  }
}
.catalog-cards__body {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  flex: 1 0 31.7%;
  min-height: 293px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 30px 0 0 30px;
  position: relative;
}
@media (max-width: 576px) {
  .card {
    flex: 1 0 100%;
  }
}
.card__info {
  position: relative;
  z-index: 2;
}
.card__title {
  display: inline-block;
  font-weight: 600;
  font-size: 1.3333333333rem;
  line-height: 1.4166666667;
  position: relative;
  margin-bottom: 45px;
}
.card__title::before {
  transition: 0.5s width ease-in-out;
  content: "";
  width: 68px;
  height: 2.5px;
  background-color: #E8AA31;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.card__title:hover::before {
  transition: 0.5s width ease-in-out;
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: #E8AA31;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.card__link {
  display: block;
  position: relative;
  margin: 15px;
}
.card__link:hover {
  text-decoration: underline;
}
.card__link::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #E8AA31;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -15px;
}
.card__image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hits__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hits__title {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #141414;
}
@media (max-width: 576px) {
  .hits__title {
    margin-top: 15px;
  }
}
.hits__link {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: rgba(20, 20, 20, 0.58);
}
@media (max-width: 576px) {
  .hits__link {
    margin-top: 20px;
  }
}
.hits__link img {
  display: inline-block;
  margin-left: 15px;
}

.slider-hits__body {
  margin: 0 3px !important;
  display: flex;
  padding: 60px 0;
}
.product-card {
  height: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 30px 20px;
}
.product-card__image {
  display: block;
  margin: 0 auto;
}
.product-card__name {
  font-weight: 600;
  font-size: 1.1111111111rem;
  color: #141414;
  padding: 50px 0 20px 0;
}
.product-card__name a:hover {
  text-decoration: underline;
}
.product-card__option {
  font-weight: 600;
  color: #ABABAB;
  display: flex;
  justify-content: space-between;
}
.product-card__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.product-card__number-reviews {
  display: inline-block;
  font-weight: 500;
  color: #ABABAB;
}
.product-card__number-reviews:hover {
  text-decoration: underline;
}
.product-card__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.product-card__info ::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.1);
  position: absolute;
  top: 0;
  left: 0;
}
.product-card__price {
  font-weight: 600;
  font-size: 1.1111111111rem;
  color: #141414;
}
.product-card__comparison-svg {
  display: inline-block;
  width: 26px;
  height: 25px;
  fill: black;
}
.product-card__favourites {
  margin-left: 5px;
  cursor: pointer;
}
.product-card__favourites-svg {
  display: inline-block;
  width: 28px;
  height: 25px;
  fill: #E8AA31;
}
.product-card__button-cart {
  width: 100%;
  padding: 16px 15px;
}
.product-card__svg-cart {
  display: inline-block;
  margin-left: 16px;
  width: 1.06rem;
  height: 0.965rem;
  fill: #fff;
}

.star-rating {
  font-size: 0;
}
.star-rating__wrap {
  display: inline-block;
  font-size: 1.1111111111rem;
}
.star-rating__wrap:after {
  content: "";
  display: table;
  clear: both;
}
.star-rating__ico {
  float: right;
  padding-left: 2px;
  cursor: pointer;
  color: #E8AA31;
}
.star-rating__ico:last-child {
  padding-left: 0;
}
.star-rating__input {
  display: none;
}
.star-rating__ico:hover:before, .star-rating__ico:hover ~ .star-rating__ico:before, .star-rating__input:checked ~ .star-rating__ico:before {
  content: "\f005";
}

.new-products {
  background: url("../img/bg__new-products.jpg") center/cover no-repeat;
}
.new-products .product-card {
  background-color: #fff;
}
.new-products__container {
  display: flex;
  padding-top: 55px;
  padding-bottom: 65px;
}
.new-products__title {
  font-weight: 700;
  font-size: 1.6666666667rem;
  line-height: 1.5333333333;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.new-products__text {
  margin-right: 15px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 60px;
}
.new-products__link {
  font-weight: 600;
  font-size: 1.1111111111rem;
  line-height: 2.3;
  letter-spacing: 0.05em;
  color: #E8AA31;
  position: relative;
  text-align: center;
}
.new-products__link img {
  position: absolute;
  top: 5px;
  right: -25px;
}
.new-products__text {
  flex: 1 1 24.5%;
}
@media (max-width: 991.98px) {
  .new-products__text {
    flex: 1 1 50%;
  }
}
.new-products__swiper {
  flex: 1 1 73.5%;
}
@media (max-width: 992px) {
  .new-products__swiper {
    flex: 1 1 50%;
  }
}
.lantern-card {
  min-height: 100%;
}
.lantern-card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.lantern-card__text {
  width: 60%;
  line-height: 1.3333333333;
  flex: 1 1 auto;
}
.lantern-card__button {
  padding: 0 80px;
  margin: 15px 0 25px;
}

.swiper-pagination-bullet {
  height: 3px;
  width: 18px;
  background-color: #E8AA31;
}

.footer {
  color: #FFFFFF;
  background: url("../img/bg-footer.jpg") center/cover no-repeat;
}
.footer__body {
  background-color: #141414;
}
.text-footer__title {
  padding: 25px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #E8AA31;
  text-align: center;
}
.text-footer__text {
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 58px;
}

.info-footer {
  padding: 70px 0 0 0;
}
.info-footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1440px) {
  .info-footer__container {
    -moz-column-gap: calc(3px + 47 * ((100vw - 320px) / 1120));
         column-gap: calc(3px + 47 * ((100vw - 320px) / 1120));
  }
}
.info-footer__column {
  flex: 1 1 22%;
}
.info-footer__title {
  font-weight: 600;
  line-height: 1.2222222222;
  text-transform: uppercase;
}
.info-footer__title a:hover {
  text-decoration: underline;
}
.info-footer__list {
  line-height: 1.4444444444;
}
.info-footer__item {
  margin: 30px 0;
}
.info-footer__item a:hover {
  text-decoration: underline;
}
.info-footer__text {
  margin: 30px 0;
}
.info-footer__link {
  color: #E8AA31;
}
.info-footer__link:hover {
  text-decoration: underline;
}
.info-footer__social {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.info-footer__social-link {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
  transition: 0.1s box-shadow ease-in;
}
.info-footer__social-link:hover {
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.5);
}
.info-footer__social-icon {
  width: 39px;
  height: 39px;
}
.info-footer__input-wp {
  display: flex;
  border-radius: 3px;
  border: 1px solid #fff;
  margin-bottom: 20px;
}
.info-footer__input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.05);
}
.info-footer__button {
  position: relative;
  z-index: 2;
  min-width: 52px;
  height: 52px;
  background-color: #E8AA31;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  .info-footer__button {
    min-width: calc(12px + 40 * ((100vw - 320px) / 1120));
  }
}
.info-footer__checkbox {
  margin-right: 11px;
}
.add-info-footer {
  padding-bottom: 30px;
}
.add-info-footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  -moz-column-gap: 25px;
       column-gap: 25px;
  position: relative;
  padding-top: 35px;
}
@media (max-width: 1440px) {
  .add-info-footer__container {
    -moz-column-gap: calc(3px + 22 * ((100vw - 320px) / 1120));
         column-gap: calc(3px + 22 * ((100vw - 320px) / 1120));
  }
}
.add-info-footer__container::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
}
.add-info-footer__column {
  flex: 0 0 22%;
}

.footer-copyright__container {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7777777778rem;
  line-height: 1.9285714286;
  color: rgba(255, 255, 255, 0.8);
}
.footer-copyright__container::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
}
.footer-copyright__co {
  width: 100%;
  text-align: end;
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  display: inline-block;
  padding: 0.3em 1.5em 0.3em 0.6em;
  cursor: pointer;
  position: relative;
}

summary:before {
  right: 0.3em;
  top: 0.4em;
  color: transparent;
  background: url("../img/arrow-right-white.svg") no-repeat;
  transform: rotateZ(90deg);
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
}

details[open] > summary:before {
  transform: rotateZ(-90deg);
}

summary ~ * {
  padding: 0 1em 0 1em;
}

details[open] summary ~ * {
  -webkit-animation: sweep 0.5s ease-in-out;
          animation: sweep 0.5s ease-in-out;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
summary:focus {
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

details {
  display: block;
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=style.css.map */