@use "sass:math";
/*Обнуление*/
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 18px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;background-color: transparent;}
button::-moz-focus-inner {padding:0;border:0;}
a{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
button{padding:0;border:none;font-size:inherit;color:inherit;background-color:transparent;cursor:pointer; }
/*--------------------*/
//Переменные
$colorYellow: #E8AA31;
//Шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
//rem
@function rem($px){
    $result: math.div($px, 18) + rem;
    @return $result;
}
//Адаптавное свойство
$maxWidth: 1920;
$maxWidthContainer: 1440;
@mixin adaptivValue($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //только если меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
    //Только если больше контейнера
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else if $type==3 {
        //Всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000;
}
//стили svg
.svg {
    &-tel{
        display: none;
        width: 22px;
        height: 28px;
        fill: #fff;
        order: 1;
        @media(max-width:992px){
            display: block;
        }
    }
    &-user{
        display: block;
        width: 22px;
        height: 28px;
        fill: #fff;
        order: 2;
    }
    &-favourites{
        display: block;
        width: 28px;
        height: 27px;
        fill: #000;
        order: 3;
        @media(max-width:992px){
            fill: #fff;
        }
    }
    &-cart{
        display: inline-block;
        width: 31px;
        height: 31px;
        fill: #000;
        order: 4;
        @media(max-width:992px){
            fill: #fff;
        }
    }
}

.header {

    &__container {
    }
}
._container {
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}
.button {
    height: 50px;
    font-weight: 600;
    color: #fff;
    background-color: $colorYellow;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
    transition: box-shadow 0.3s ease-in-out;
    &:hover{
        box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.7);
    }
}
.header-top {
    width: 100%;
    height: 70px;
    font-size: rem(16);
    color: #FFFFFF;
    background-color: #141414;
    position: relative;
    
    & a:hover {
        text-decoration: underline;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__nav {
        @media (max-width:992px){
            transform: translate(0 , -200%);
            
            transition: transform 0.5s ease 0s;
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
            background-color: #141414;
            width: 100%;
            height: 100vh;
            @include adaptivValue('font-size', 50, 16, 1);
            line-height: math.div(50px, 30px);

            &._open-nav{
                transform: translate(0,0);
                
                
            }
        }
    }

    &__menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include adaptivValue('column-gap', 60, 20, 1);
        row-gap: 8px;
        @media (max-width:992px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:first-child{
                margin-top: 30px;
            }
        }
    }
    &__item {
    }

    &__account{
        display: flex;
        align-items: center;
        column-gap: 15px;
        @media(max-width:992px){
            width: 100%;
            justify-content: space-around;
        }
    }
    &__icon {
        
    }
    
    &__svg-user{

    }
    &__user-profile {
        @media (max-width:992px){
            display: none;
        }
    }
}
//бургер
.burger{
    display: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: relative;
    order: 5;
    z-index: 10;
    
    @media (max-width:992px){
        display: inline-block;
        position: relative;
    }

    & span, & span:before, & span:after{
        width: 100%;
        position: absolute;
        height: 3px;
        background: rgb(248, 248, 248);
        display: block;
        transition: .3s;
        border-radius: 5px;
    }
    & span:before{
        content: "";
        top: 10px;
        transition: top 200ms 200ms, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    & span{
        top: 13px;
    }
    & span:after{
        content: "";
        bottom: 10px;
        transition: bottom 200ms 200ms, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    //анимация бургера
    & span.active:before{
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 200ms, transform 200ms 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    & span.active:after{
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 200ms, transform 200ms 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    & span.active{
        background-color: rgba(255, 255, 255, 0);
    }
}


.header-body {
    width: 100%;
    height: 90px;
    background-color: #ECF1F2;
    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    &__logo {
        @include adaptivValue('margin-right', 158, 1, 1);
        @media (max-width:1300px){
            @include adaptivValue('margin-right', 70, 15, 1);
        }
    }
    &__search-container{
        flex: 1 1 auto;
    }
    &__search-form{
        max-width: 377px;
        display: flex;
        position: relative;
        
    }
    &__search-button{
        width: 41px;
        @media(max-width:576px){
            width: 31px;
        }
        height: 41px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    &__search-input{
        width: 100%;
        font-size: rem(14);
        padding-left: 41px;
        @media(max-width:576px){
            padding-left: 31px;
        }
        height: 41px;
        background-color: #E4EAEB;
        border-radius: 3px;
        border: 1px solid rgba(4, 4, 4, 0.1);
        margin-right: 10px;
        &::placeholder{
            color: rgba(0, 0, 0, 0.5);
        }
        &:focus{
            outline: auto;
        }
        
    }
    &__action{
        margin-left: 10px;
        @media(max-width:576px){
            display: none;
        }
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        @include adaptivValue('column-gap', 30, 5, 1);
    }
    &__location {
        order: 1;
        display: flex;
        align-items: center;
    }

    &__location-icon {
        margin-right: 10px;
    }

    &__city {
        
    }

    &__contacts {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        margin-right: 20px;
        @media(max-width:992px){
            display: none;
        }

    }

    &__tel {
        flex: 0 0 auto;
        
    }

    &__arrow {
        width: 16px;
        height: 10px;
        position: absolute;
        top: 3px;
        right: -22px;
        transition: transform 0.1s ease-in-out;
        &._popup-active{
            transform: rotate(-180deg);
        }
    }
    &__popup{
        // transform: scale(0,0) translate(154px,-40px);
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 20px;
        right: -22px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        transform: translate(0,-50%) scale(1,0);
        transition: transform 0.1s ease-in-out;
        &._popup-active{
            transform: translate(0,0) scale(1,1);
        }
    }
    &__callback {
        color: $colorYellow;
    }
    &__favourites{
        order: 3;
    }
    &__cart {
        order: 4;
        font-size: rem(16);
        display: flex;
        align-items: center;
        justify-content: center;
    }    
}

.cart-header {
    display: flex;
    
    
    &__icon {
        order: 1;
        padding-top: 5px;
        display: inline-block;
        position: relative;
        & span {
            font-size: 10px;
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $colorYellow;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 2px;
            right: -6px;
        }
    }
    
    &__body {
        order: 2;
        display: inline-block;
        margin-left: 15px;
        
    }

    &__summ {
        @media(max-width:992px){
            display: none;
        }
    }

    &__link {
        color: $colorYellow;
        @media(max-width:992px){
            display: none;
        }
    }
}

.logo {
}
.catalog-mobile{
    display: none;
    @media(max-width:992px){
        display: inline-block;
    }
}
.catalog-wrapper{
    @media(max-width:768px){
        
        .open__mobile-menu{
            
        }
    }
    
}
.header-catalog {
    height: 70px;
    background-color: #141414;
    &__container {

    }
}
.catalog {
    height: 100%;
    line-height: math.div(22px, 18px);
    color: #fff;
    &__list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:768px){
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #141414;
            z-index: 6;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 15px 0 0 15px;
        }
    }
    &__item {   
        height: 70px;
        display: flex;
        align-items: center;
        position: relative;
        text-align: center;
    }
    &__link {
        display: block;
        padding: 5px 10px;
        width: 100%;

        &:hover {
            color: $colorYellow;
            &::before{
                content: '';
                width: 100%;
                height: 2px;
                background-color: $colorYellow;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &._active-link {
            color: $colorYellow;
            &::before{
                content: '';
                width: 100%;
                height: 2px;
                background-color: $colorYellow;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}


.menu-catalog {
    font-size: rem(16);
    color: #fff;
    background-color: #141414;
    display: none;
    transform: translate(0,-150%);
    &._open-menu{
        display: block;
        transform: translate(0,0);
    }
    & a:hover {
        text-decoration: underline;
    }
    &__container {
        display: flex;
        justify-content: flex-start;
        @include adaptivValue('column-gap', 30, 5, 1);
        position: relative;
        &:after {
            content: '';
            height: 1px;
            background-color: #5A5A5A;
            position: absolute;
            top: 90px;
            width: calc(100% - 20px);
        }
        &:before {
            content: '';
            height: 1px;
            background-color: #5A5A5A;
            position: absolute;
            bottom: 74px;
            width: calc(100% - 20px);
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
    }
    &__title-wrapper {
        margin: 30px 0;
        position: relative;
    }
    &__header-line:before{
        content: '';
        height: 1px;
        background-color: #5A5A5A;
        position: absolute;
        top: 46px;
        left: -10px;

        margin: 0 10px;
    }
    &__title {
        padding: 10px 0;
        font-weight: 700;
    }
    &__items {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }
    &__item {
        align-self: flex-start;
        padding: 10px 0;
    }
    &__footer {
        color: $colorYellow;
        margin: 30px 0 20px 0;
        position: relative;
    }
    &__footer-text {
        padding: 10px 0;
    }
}

.main-block {
    color: #fff;
    width: 100%;
    max-height: 100%;
    background: url("../img/main-block/bg-main-block.jpg") center / cover no-repeat;
    
    @media(max-width:576px){
        background: url("../img/main-block/bg-main-block_mobile.jpg") center / cover no-repeat;
    }
    &__container{
    }
    &__slider{
    }
    &__advantages {
    }
}
.slider {
    width: 100%;
    &__container {
    }
    &__body {
        transform: translate(15px,0) !important;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        @media(max-width:992px){
            // display: flex;
            // flex-direction: column;
            // align-items: center;
        }
    }
    &__info{
    }
    &__title, &__subtitle{
        font-size: rem(36);
        line-height: 128%;
        letter-spacing: 3%;
    }
    &__title {
        font-weight: 700;
        padding-top: 28px;
        @media(max-width:576px){
            font-size: 26px;
        }
    }
    &__subtitle {
        padding-top: 10px;
        @media(max-width:576px){
            font-size: 23px;
        }
    }
    &__text{
        padding-top: 30px;
        font-weight: 500;
        font-size: rem(20);
        line-height: math.div(30, 20);
        @media(max-width:576px){
            font-size: 16px;
        }
    }

    &__button {
        margin-top: 60px;
        font-size: 20px;
        padding: 0 52px;
        @media(max-width:992px){
            display: none;
        }
    }
    &__media {
        margin-top: 30px;
        @include adaptivValue('margin-right', 70, 0, 1);
        position: relative;
    }

    &__image {
        position: relative;
        
        & img {
            position: relative;
            z-index: 2;
            @media(max-width:576px){
                width: 260px;
                height: 290px;
            }
        }
        // &::before{
        //     content: '';
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 414px;
        //     height: 414px;
        //     border-radius: 50%;
        //     border: 2px solid white;
        //     z-index: 1;
        //     transform: translate(38% , -3.5%);
        //     @media(max-width:992px){
        //         display: none;
        //     }
        // }
    }
    &__tip{
        cursor: pointer;
        position: absolute;
        z-index: 2;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #836515;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s box-shadow ease-in-out;
        @media(max-width:576px){
            display: none;
        }
        &:hover{
            box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
        }
        & span {
            width: 19px;
            height: 19px;
            background-color: $colorYellow;
            border-radius: 50%;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    &__tip-1{
        top: percentage(178/499);
        left: percentage(67/448);
    }
    &__tip-2{
        top: percentage(49/499);
        left: percentage(409/448);
    }
    &__tip-3{
        top: percentage(356/499);
        left: percentage(394/448);
    }
}



.advantages {
    max-width: 100%;
    color: #fff;
    font-weight: 600;
    @include adaptivValue('font-size', 20, 9.6, 1);
    line-height: math.div(32 , 20);
    margin-top: 58px;
    margin-bottom: 58px;

    @media(max-width:576px){
        font-size: rem(20);
        margin-top: 46px;
        margin-bottom: 30px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        @media(max-width:576px){
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
        @media(max-width:768px){
            flex-wrap: wrap;
        }
    }
    &__item {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media(max-width:576px){
            max-width: 350px;
        }
        @media(max-width:768px){
            flex: 1 1 49%;
        }
        
    }
    &__image {
        text-align: center;
    }
    &__text {  
       text-align: center;
       justify-items: start;
    }
}
.catalog-cards {
    padding: 100px 0;
    @media(max-width:576px){
        padding: 0;
    }
    &__container {
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__card {
    }
}

.card {
    flex: 1 0 31.7%;
    min-height: 293px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: 30px 0 0 30px;
    position: relative;
    @media(max-width:576px){
        flex: 1 0 100%;
    }
    &__info {
        position: relative;
        z-index: 2;
    }
    &__title {
        display: inline-block;
        font-weight: 600;
        font-size: rem(24);
        line-height: math.div(34,24);
        position: relative;
        margin-bottom: 45px;
        &::before{
            transition: 0.5s width ease-in-out;
            content: '';
            width: 68px;
            height: 2.5px;
            background-color: $colorYellow;
            position: absolute;
            bottom: -15px;
            left: 0;
        }
        &:hover{
            &::before{
                transition: 0.5s width ease-in-out;
                content: '';
                width: 100%;
                height: 2.5px;
                background-color: $colorYellow;
                position: absolute;
                bottom: -15px;
                left: 0;
            }
        }
        
    }

    &__list {
    }
    
    &__link {
        display: block;
        position: relative;
        margin: 15px;
        &:hover{
            text-decoration: underline;
        }
        &::after{
            content: '';
            width: 6px;
            height: 6px;
            background-color: $colorYellow;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: -15px;
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.hits {

    &__container {
        
    }

    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.05em;
        color: #141414;
        @media(max-width:576px){
            margin-top: 15px;
        }
    }

    &__link {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: rgba(20, 20, 20, 0.58);
        @media(max-width:576px){
            margin-top: 20px;
        }
        img {
            display: inline-block;
            margin-left: 15px;
        }
    }
}


.slider-hits {
    
    &__container {
       
    }

    &__body {
        margin: 0 3px !important;   
        display: flex;
        padding: 60px 0;
    }

    &__item {
    }
}

.product-card {
    height: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: 30px 20px;
    &__image {
        display: block;
        margin: 0 auto;
    }

    &__name {
        font-weight: 600;
        font-size: rem(20);
        color: #141414;
        padding: 50px 0 20px 0;
    }

    &__option {
        font-weight: 600;
        color: #ABABAB;
        display: flex;
        justify-content: space-between;
    }

    &__size {
    }

    &__material {
    }

    &__reviews {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &__rating {
    }

    &__number-reviews {
        display: inline-block;
        font-weight: 500;
        color: #ABABAB;
        
        &:hover{
            text-decoration: underline;
        }
    }

    &__info {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        ::after{
            content: '';
            height: 2px;
            width: 100%;
            background-color: rgba(20, 20, 20, 0.1);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__price {
        font-weight: 600;
        font-size: rem(20);
        color: #141414;
    }
    &__images{
    }
    &__comparison {
    }

    &__comparison-svg {
        display: inline-block;
        width: 26px;
        height: 25px;
        fill: black;
    }

    &__favourites {
        margin-left: 5px;
    }

    &__favourites-svg {
        display: inline-block;
        width: 28px;
        height: 25px;
        fill: $colorYellow;
    }

    &__button-cart {
        width: 100%;
        padding: 16px 15px;
    }

    &__svg-cart {
        display: inline-block;
        margin-left: 16px;
        width: rem(19.08);
        height: rem(17.37);
        fill: #fff;
    }
}

.star-rating{
	font-size: 0;
    &__wrap{
        display: inline-block;
        font-size: rem(20);
    }
    &__wrap:after{
        content: "";
        display: table;
        clear: both;
    }
    &__ico{
        float: right;
        padding-left: 2px;
        cursor: pointer;
        color: $colorYellow;
        
    }
    &__ico:last-child{
        padding-left: 0;
        
    }
    &__input{
        display: none;
    }
    &__ico:hover:before,
    &__ico:hover ~ &__ico:before,
    &__input:checked ~ &__ico:before
    {
        content: "\f005";
    }
}

.swiper-pagination-bullet{
    height: 3px;
    width: 18px;
    background-color: $colorYellow;
}

.footer {
    color: #FFFFFF;
    background: url('../img/bg-footer.jpg') center / cover no-repeat;
    &__text {
        
    }
    &__body {
        background-color: #141414;
    }
    &__body-info {
    }
    &__body-add-info {
    }
    &__copyright {
    }
}
.text-footer {
    &__container {
    }

    &__title {
        padding: 25px 0;
        font-weight: 700;
        font-size: 30px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: $colorYellow;
        text-align: center;
    }

    &__text {
        line-height: math.div(27px,18px);
        letter-spacing: 0.03em;
        margin-bottom: 58px;
    }
}

.info-footer {
    padding: 70px 0 0 0;
    &__container {
        display: flex;
        justify-content: space-between;
        @include adaptivValue('column-gap', 50, 3, 1);
    }

    &__column {
        flex: 0 0 22%;
        
    }

    &__title {
        font-weight: 600;
        line-height: math.div(22,18);
        text-transform: uppercase;
        a:hover{
            text-decoration: underline;
        }
    }
    &__nav {
    }
    &__list {
        line-height: math.div(26,18);
    }
    &__item {
        margin: 30px 0;
        a:hover{
            text-decoration: underline;
        }
    }
    &__text{
        
        margin: 30px 0;
    }
    &__link {
        color: $colorYellow;
        &:hover{
            text-decoration: underline;
        }
    }
}
.add-info-footer {
    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include adaptivValue('column-gap', 25, 3, 1);
        position: relative;
        padding-top: 35px;
        &::after{
            content: '';
            height: 1px;
            width: 100%;
            background-color: #FFFFFF;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &__column {
        flex: 0 0 22%;
    }
}

.lantern-card {
    min-height: 100%;
    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__text{
        width: 60%;
        line-height: math.div(24,18);
        flex: 1 1 auto;
    }
    &__button {
        padding: 0 80px;
        margin: 15px 0 25px;
    }
}

.footer-copyright {
    &__container {
        padding: 30px 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: rem(14);
        line-height: math.div(27,14);
        color: rgba(255, 255, 255, 0.8);
        &::after{
            content: '';
            height: 1px;
            width: 100%;
            background-color: #FFFFFF;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__text {
    }

    &__co {
        width: 100%;
        text-align: end;
    }
}

